* {
    box-sizing: border-box;
}

#PersonalProfileTable {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 900px;
    text-align: center;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: black;
    font-weight: bold;
    text-align: center;
    /*used for the Header text above the table*/
}

.tableHeader, .tableFooter {
    background-color: #6D538A;
    color: white;
    font-weight: bold;
    text-align: center;
}

.label {
    background-color: #B098D4;
    font-weight: bold;
}

.info {
    background-color: white;
}

.infoLeft {
    /*for info I want aligned to the left instead of center*/
    text-align: left;
}

.underline {
    text-decoration: underline;
    /*used instead of <ins> </ins>*/
}

th, td {
    border: 1.5px solid rgb(24, 0, 65);
    padding: 20px;
}

p {
    margin: 10px;
}

/*Pseudo classes on the gitHub link in L-V-H-A order*/
.tableFooter a:link {
    color: rgb(145, 126, 255);
}

.tableFooter a:visited {
    color: rgb(30, 28, 43);
}

.tableFooter a:hover {
    color: rgb(70, 49, 185);
}

.tableFooter a:active {
    color: rgb(244, 244, 247);
}